.blog {
    width: 100%;
    height: 100%;
}

.project-image {
    width: 100%;
    max-width: 650px;
    height: auto;
    margin: 0 auto;
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767px) {
  .project-image img {
    max-width: 90%; /* Smaller screens will use a higher percentage of the width */
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .project-image img {
    max-width: 650px; /* Adjust as necessary for your design */
  }
}

/* You can add more breakpoints for larger devices if necessary */


.title {
    margin-top: 30px;
    height: auto;
    font-family: sans-serif;
}

.title h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 1rem;
}

.basic-info {
    font-size: 15px;
    margin: 0;
    color: white;
}

/* Custom breadcrumb style */
.custom-breadcrumb .ant-breadcrumb-link a,
.custom-breadcrumb .ant-breadcrumb-link span,
.custom-breadcrumb .ant-breadcrumb-separator {
  color: #ffffff; /* White color */
}

.content {
    margin-top: 30px;
    text-align: left; /* 文字居中 */
    width: 60%; /* 设置宽度为 50% */
    margin-left: auto; /* 左右居中 */
    margin-right: auto; /* 左右居中 */
}

.content h2 {
    font-size: 23px;
    text-align: center;
}

.content p {
    margin-top: 10px;
    font-size: 16px;
    color: #c2c2c2;
}

.title h1, .title h2, .content h2 {
    color: #FF6B35; /* 橙色 */
    margin-bottom: 15px;
}

.centered-content-col {
    display: flex;
    justify-content: center;
}

.dynamic-font-divider {
    font-size: 20px !important;
    font-weight: bold !important;
    color: white !important;
}

/* 当屏幕宽度介于600px和900px之间时 */
@media (min-width: 600px) and (max-width: 900px) {
    .dynamic-font-divider {
        font-size: 20px !important;
        font-weight: bold !important;
        color: white !important;
    }
}

/* 当屏幕宽度大于900px时 */
@media (min-width: 900px) {
    .dynamic-font-divider {
        font-size: 20px !important;
    font-weight: bold !important;
    color: white !important;
    }
}

/* 这是外部Project 详细页面div的样式 */
.container-centered {
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* 如果需要让内容垂直居中, 也可以添加这行 */
    height: 100%;           /* 如果需要让内容垂直居中, 也可以添加这行 */
}

/* 这是Content的样式 */
.content-width {
    margin: 24px 16px;
    padding: 0;
    min-height: 280px;
    text-align: center;
    backgroundColor: #262626;
}


/* Default width */
.content-width {
    width: 100%;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .content-width {
        width: 80%; /* Adjust as necessary for your design */
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .content-width {
        width: 80%; /* Adjust as necessary for your design */
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .content-width {
        width: 80%; /* This might remain the same or change as per your design requirements */
    }
}
.content-centered {
    width: 100%;
    margin: 0 auto; /* 使内容水平居中 */
}
.custom-dots {
    position: absolute;
    bottom: -25px !important; /* Adjust this value as needed to move the dots down */
    width: 100%;
}

.custom-dots li button {
    background: #ccc; /* Non-active dot color */
}

.custom-dots li.slick-active button {
    background: #222; /* Active dot color */
}

/* Additional styles for dot size, spacing, etc. */
.custom-dots li button {
    border: 0;
    height: 10px;
    width: 10px;
}

/* To ensure dots are visible over the carousel if needed */
.custom-dots li {
    margin: 0 3px;
    z-index: 1;
}

.ant-divider-horizontal.ant-divider-with-text-left::before,
.ant-divider-horizontal.ant-divider-with-text-left::after {
  flex: 0; /* Equal flex-grow value for both lines */
}

.ant-divider-horizontal.ant-divider-with-text-left::before {
  margin-right: 8px; /* Or any space you want between the line and the text */
}

.ant-divider-horizontal.ant-divider-with-text-left::after {
  margin-left: 8px; /* Or any space you want between the text and the line */
}

:where(.css-dev-only-do-not-override-qgg3xn) .ant-divider .ant-divider-inner-text {
  padding-inline: 0 !important; /* Using !important to ensure override */
}

.ant-divider-inner-text {
  flex-shrink: 0; /* Prevent the text from shrinking */
}

.image-grid {
  display: grid;
  width: 95%;
    margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 100px; /* top-bottom gap */
  grid-column-gap: 70px; /* left-right gap */
}

@media (max-width: 1200px) {
  .image-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 992px) {
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .image-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.grid-item img {
  width: 100%;
  object-fit: cover;
}