.blog {
    width: 100%;
    height: 100%;
}

.project-image {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.title {
    margin-top: 30px;
    height: auto;
    font-family: sans-serif;
}

.title h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 1rem;
}

.basic-info {
    font-size: 15px;
    margin: 0;
}

.content {
    margin-top: 30px;
    text-align: left; /* 文字居中 */
    width: 60%; /* 设置宽度为 50% */
    margin-left: auto; /* 左右居中 */
    margin-right: auto; /* 左右居中 */
}

.content h2 {
    font-size: 23px;
    text-align: center;
}

.content p {
    margin-top: 10px;
    font-size: 16px;
    color: #888;
}

.title h1, .title h2, .content h2 {
    color: #FF6B35; /* 橙色 */
    margin-bottom: 15px;
}

.centered-content-col {
    display: flex;
    justify-content: center;
}
.dynamic-font-divider {
    font-size: 20px; /* 默认字体大小 */
    font-weight: bold;
}

/* 当屏幕宽度介于600px和900px之间时 */
@media (min-width: 600px) and (max-width: 900px) {
    .dynamic-font-divider {
        font-size: 18px;
    }
}

/* 当屏幕宽度大于900px时 */
@media (min-width: 900px) {
    .dynamic-font-divider {
        font-size: 20px;
    }
}

/* 这是外部Project 详细页面div的样式 */
.container-centered {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* 如果需要让内容垂直居中, 也可以添加这行 */
    height: 100%;           /* 如果需要让内容垂直居中, 也可以添加这行 */
}

/* 这是Content的样式 */
.content-width {
    width: 50%;
    margin: 24px 16px;
    padding: 0;
    min-height: 280px;
    text-align: center;
}

.content-centered {
    width: 80%;
    margin: 0 auto; /* 使内容水平居中 */
}


