.resume-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.resume-item-title {
  font-weight: bold;
  flex-grow: 1;
}

.resume-item-time {
  /* The date stays to the right; you can adjust the width as needed */
  min-width: 120px;
  text-align: right;
}

.profile-container h1 {
  text-align: center;
}

.profile-container h2 {
  font-size: 1.5em;
  /*border-bottom: 1px solid #ddd;*/
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.profile-container ul {
  list-style: none; /* 移除默认的列表符号 */
  padding-left: 20px; /* 添加缩进 */
}

.profile-container li::before {
  content: '•'; /* 这是一个黑色圆点 */
  color: white; /* 可以改变颜色 */
  display: inline-block;
  width: 1em; /* 给点和文字留出空间 */
  margin-left: 0em; /* 将点移回文本的左边 */
}

.profile-container li {
  margin-bottom: 10px;
}

.profile-container h1 {
  color: #FFFFFF;
  border-bottom: 2px solid #646464; /* Light grey line for the heading */
  padding-bottom: 10px;
}

/* SocialLinks.css */
/*.social-links {*/
/*  display: flex;*/
/*  justify-content: center; !* 或者 'flex-start' 以左对齐 *!*/
/*  flex-wrap: wrap; !* 允许内容换行 *!*/
/*  gap: 10px; !* 间隔可以根据您的设计调整 *!*/
/*  padding: 10px; !* 添加一些内边距 *!*/
/*  box-sizing: border-box; !* 确保内边距不影响总宽度 *!*/
/*}*/

.social-links {
  display: flex;
  justify-content: center; /* 水平居中 */
  flex-wrap: wrap; /* 允许内容换行 */
  gap: 10px; /* 间隔可以根据您的设计调整 */
  padding: 10px; /* 添加一些内边距 */
  box-sizing: border-box; /* 确保内边距不影响总宽度 */
}

/* 在小屏幕上的样式 */
@media screen and (max-width: 768px) {
  .social-links {
    justify-content: flex-start; /* 在小屏幕上左对齐 */
    gap: 5px; /* 减小间隔 */
  }

  .social-links a {
    margin-bottom: 5px; /* 减小垂直间隔 */
    padding: 5px; /* 减小按钮的内边距 */
    flex-grow: 1; /* 允许按钮填充可用空间 */
    font-size: 10px;
  }

  /*如果你希望在小屏幕上图标和文字在一行显示，取消这部分的注释*/
  .social-links .ant-btn {
    flex-direction: row;
    flex-grow: 0;
    flex-basis: auto;
  }

}

.social-links a {
  display: flex;
  align-items: center;
  color: white; /* 可以根据你的网站主题颜色调整 */
  font-size: 20px; /* 调整图标大小 */
  transition: color 0.3s; /* 过渡效果，使鼠标悬浮时颜色变化更平滑 */
}

.social-links a:hover {
  color: #007bff; /* 鼠标悬浮时图标的颜色 */
}

.social-links a:last-child {
  display: flex;
  align-items: center;
}

.social-links svg {
  margin-right: 8px; /* 如果邮件图标和文字都显示，调整间距 */
}

/* 你可能需要覆盖Ant Design的默认样式来匹配你的设计 */
.social-links .ant-btn-primary {
  margin-right: 8px; /* 或者根据需要调整间距 */
  background-color: #333; /* 按钮背景色 */
  border-color: #333; /* 按钮边框色 */
  color: #fff; /* 文字颜色 */
}

.social-links .ant-btn-primary:hover,
.social-links .ant-btn-primary:focus {
  background-color: #555; /* 鼠标悬停和聚焦时的背景色 */
  border-color: #555; /* 鼠标悬停和聚焦时的边框色 */
}

/* 适配Ant Design图标与文字的排列 */
.social-links .ant-btn .anticon + span {
  margin-left: 4px; /* 图标和文字之间的间距 */
}
